@charset "utf-8";

/* section, aside and footer */

@media screen and (max-width: 601px){

   aside#lateral{
      background-color: #b6b1b1;
      margin-top: 70px;
      padding: 5px;
      box-shadow: 3px 3px 3px rgba(0,0,0,.7);
   }

   aside#lateral-1{
      background-color: #b6b1b1;
      margin-top: 90px;
      padding: 5px;
      box-shadow: 3px 3px 3px rgba(0,0,0,.7);
   }

   aside#lateral h1{
      font-family: 'FonteLogo', sans-serif;
      font-size: 30pt;
      color: #423d3d;
      
   }

   aside#lateral h2 {
      font-size: 20pt;
      color: #ffffff;
      padding: 5px;
      
   }

   .whatsapp-fixo {
      position: fixed;
      bottom:23px;
      right: 30px;
      z-index: 999;
      }

   img.zap-zap{
      width: 50px;
      height: 50px;
   }

   /* colocar essa configuração no media query max 600px */
   footer#rodape p{
      clear: both;
      border-top: 2px solid #606060;
      text-align: center;
   }  
}

@media screen and (min-width: 601px){

   section#corpo{
      display: block;
      width: 640px;
      border-right: 2px solid #606060; 
      padding-right: 15px;
   }
   
   aside#lateral{
      display: block;
      width: 422px;
      float: right;
      margin-top: -1250px;
      background-color: #b6b1b1;
      margin-top: -1659px;
      padding: 5px;
      box-shadow: 3px 3px 3px rgba(0,0,0,.7);
      
   }

   /* Lâmpada */
   aside#lateral-1{
      display: block;
      width: 422px;
      float: right;
      margin-top: -1100px;
      background-color: #b6b1b1;
      padding: 5px;
      box-shadow: 3px 3px 3px rgba(0,0,0,.7);
   }

   aside#lateral h1{
      font-family: 'FonteLogo', sans-serif;
      font-size: 30pt;
      color: #423d3d;
      
   }

   aside#lateral h2 {
      font-size: 20pt;
      color: #ffffff;
      padding: 5px;
      
   }

   .whatsapp-fixo {
      position: fixed;
      /* bottom:10px; */
      left: 1230px;
      bottom: 30px;
      z-index: 999;
      }

   img.zap-zap{
      width: 50px;
      height: 50px;
   }

   /* colocar essa configuração no media query max 600px */
   footer#rodape p{
      border-top: 2px solid #606060;
      text-align: center;
   }

}

@media screen and (min-width: 1200px) {

   .whatsapp-fixo {
      position: fixed;
      bottom:25px;
      right: 300px;
      z-index: 999;
      }

   img.zap-zap{
      width: 50px;
      height: 50px;
   }
}


